{% extends "base.html" %} {% load static %} {% block page_header%}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-7 offset-7 col-md-6">
      <h1 id="homepage-text" class="display-4 text-light">
        Take a look at our extensive collection
      </h1>
      <div class="my-5">
        <h4>
          <a
            href="{% url 'products' %}"
            class="enter-cellar-button btn btn-lg rounded-5 text-uppercase py-3"
            >Enter our cellar</a>
        </h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_footer %}
    <footer>
		<div class="container page-footer">
			<div class="row">
				<div class="col s12 l6">
					<a class="logo-footer brand-logo" href="{{url_for('home')}}"><span>Home Cooking</span></a>
				</div>
				<div class="col l6 offset-6 s12">
					<ul class="list-inline social-link">
						<li class="list-inline-item">
							<a href="https://www.facebook.com" aria-label="Facebook"
								target="_blank"><i class="fab fa-facebook" rel="noopener"></i></a>
							<a href="https://www.instagram.com" aria-label="Instagram"
								target="_blank"><i class="fab fa-instagram" rel="noopener"></i></a>
							<a href="https://www.twitter.com" aria-label="Twitter"
								target="_blank"><i class="fab fa-twitter" rel="noopener"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
 {% endblock %}
