html{
    height: 100%;

}

body {
    background: url('/media/whisky.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #f5d58e;
    color:#000;
    font-family: 'Montserrat, sans-serif';
}

#homepage-text{
    text-transform: uppercase;
    margin-top: 8rem;
    text-shadow: 
        0 0.2em 50px rgba(0,0,0,1),
        0.05em -0.03em 0 rgba(0,0,0,1),
        0.05em 0.005em 0 rgba(0,0,0,1),
        0 0.08em 0 rgba(0,0,0,1),
        0.05em 0.08em 0 rgba(0,0,0,1),
        0 -0.03em 0 rgba(0,0,0,1),
        -0.03em -0.03em 0 rgba(0,0,0,1),
        -0.03em 0.08em 0 rgba(0,0,0,1),
        -0.03em 0 0 rgba(0,0,0,1);
}

#promo-banner{
   width: 300px;
   height: 2rem;
   background-color: #626663;
}

.promo-link:hover {
      color: #f5af2e;
      text-shadow : 2px 2px 30px #f65d04;
      font-size: 20px;
}

#main-nav {
    background-color: #626663;
    height: 2rem;
}


.product-page{
    background-color:#f5d58e;
    z-index: 1;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-font {
    text-transform: uppercase;
}

.logo-main-link {
    font-size: 3em;
    text-shadow: 
        0 0.2em 50px rgba(0,0,0,1),
        0.05em -0.03em 0 rgba(0,0,0,1),
        0.05em 0.005em 0 rgba(0,0,0,1),
        0 0.08em 0 rgba(0,0,0,1),
        0.05em 0.08em 0 rgba(0,0,0,1),
        0 -0.03em 0 rgba(0,0,0,1),
        -0.03em -0.03em 0 rgba(0,0,0,1),
        -0.03em 0.08em 0 rgba(0,0,0,1),
        -0.03em 0 0 rgba(0,0,0,1);
}

/*----Buttons---*/

.enter-cellar-button {
    background: whitesmoke;
    color: black;
    min-width: 260px;
    box-shadow: 0 9px #999;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
    box-shadow: 0 9px #999;
}

.btn-outline-black:hover,
.btn-outline-black:focus {
    background: #626663;
    color: white !important;
}
.btn-outline-black:active{
    background: #626663;
    box-shadow: 0 5px rgb(36, 35, 35);
    transform: translateY(4px);
}

.enter-cellar-button:hover,
.enter-cellar-button:focus,
.btn-black:hover,
.btn-black:focus {
    background: #626663;
    color: white;
}

.enter-cellar-button:active,
.btn-black:active {
    background: #626663;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f5d58e;
    z-index: -1;
}

.btt-button {
    background-color: white;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color:#aab7c4;
}

/*---------Bootstrap toast */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Allauth formatting ---*/
.allauth-form-inner-content p {
     margin-top: 1.5rem;
     color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder{
    color:#aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    box-shadow: 0 9px #999;

 /*---standard bootstrap btn transitions---*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #000;
    background-color: #626663;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; 
}

/* --- Product form ---*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #dc3545;
    border-color:  #dc3545;
    border-radius: 0;
}

/*---Footer from previous project---*/
.page-footer {
  display: flex;
  background-color: #f5af2e;
  width: 100%;
  flex-direction: column;
  text-align: center;
  height: auto;
}


a.logo-footer {
  color: whitesmoke;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 25px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.logo-footer:hover {
  font-size: 35px;
  text-decoration: none;
}

.fab {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  padding: 10px 0;
  border-radius: 50px;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.fab:hover {
  text-decoration: none;
  background-color: #626663;
}


/* --- Media Queries ---*/
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* better display for when on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }


    body {
        height: calc(100vh - 116px);
    }

    .display-4 {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.20rem;
        
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
    

    #mobile-view {
        background-color: whitesmoke;
        margin-bottom: .4rem;
    }

    
    #main-nav .nav-item {
        padding-left: 1rem;
        z-index: 1;
        background-color:  #626663;
    }


    .navbar-toggler {
        padding: .6rem .6rem;
        margin-right: 1rem;
        font-size: 1rem;
    }

    #promo-banner h5 {
        padding-top: .5rem;
        font-size: .9rem;
        
    }

    
    .btn.btn-outline-black.rounded-0 {
        padding: .375rem .375rem;

    }

    .btn.btn-outline-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }


    .increment-qty, .decrement-qty{
        padding: .25rem .5rem !important;
    }
}

/* Navbar for medium screen */
@media (min-width: 450px) {
        .nav-link {
        padding: 1.5rem;     
    }
}
