<div class="collapse navbar-collapse" id="main-nav">
   <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
          <a class="main-font font-weight-bold nav-link text-white mr-5" 
          href="{% url 'home' %}" id="home-link">
               Home
            </a>
        </li>
       <li class="nav-item dropdown">
            <a class="main-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Whiskies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=single_malt&direction=desc" class="dropdown-item">Single Malt</a>
                <a href="{% url 'products' %}?sort=single_malt&direction=asc" class="dropdown-item">Blend</a>
                <a href="{% url 'products' %}" class="dropdown-item">
                 All Whiskies</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="main-font font-weight-bold nav-link text-white mr-5" href="#" id="region-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Regions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="region-link">
                <a href="{% url 'products' %}?category=campbelltown"  class="dropdown-item">Campbelltown</a>
                <a href="{% url 'products' %}?category=higland" class="dropdown-item">Highland</a>
                <a href="{% url 'products' %}?category=islay" class="dropdown-item">Islay</a>
                <a href="{% url 'products' %}?category=speyside" class="dropdown-item">Speyside</a>
                <a href="{% url 'products' %}?category=islands" class="dropdown-item">Islands</a>
            </div>
        </li> 
         <li class="nav-item dropdown">
            <a class="main-font font-weight-bold nav-link text-white mr-5" href="#" id="special-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Something Special
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?special=pre_release" class="dropdown-item">Pre-Release</a>
                <a href="{% url 'products' %}?special=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?special=is_exclusive" class="dropdown-item">Exclusivity</a>
            </div>
        </li>  
   </ul>
</div>
